html {
  height: 100%;
  width: 100%;
  margin: 100 px;
}

body {
  background-color: #cfe3d5;
  color: #11752d;
  font-family:'Gill Sans MT', 'Gill Sans', 'Gill Sans', 'Gill Sans', sans-serif;
  font-size: large;
  text-align: center; 
}

.button {
  padding: 20px;
  font-size: medium; 
  margin: 10px auto 50px;
  text-align: center;
  width: 200px;
  color: #11752d;
  background-color: darkseagreen;
  text-decoration: none;  
  font-family:'Gill Sans', 'Gill Sans', 'Gill Sans', 'Gill Sans', sans-serif;
  line-height: 5;
}

h2 {
  background-color: #cfe3d5;
  color: #11752d;
  font-family:'Gill Sans MT', 'Gill Sans', 'Gill Sans', 'Gill Sans', sans-serif;
  font-size: large;
}

.questions {
  margin-bottom: 30px;
  display: block;
}

input {
  margin-bottom: 10px;
}

introduction {
  margin-bottom: 10px; 
}

h4 {
  background-color: #cfe3d5;
  color: #419157;
  font-family:'Gill Sans', 'Gill Sans', 'Gill Sans', 'Gill Sans', sans-serif;
  font-size: medium;
}


#breakfast {
  text-align: left;
  display:inline-block;
  width: 150px;
}

#lunch {
  text-align: left;
  display:inline-block;
  width:150px;
}

#dinner {
  text-align: left;
  display:inline-block;
  width:150px
}

a {
  text-decoration: none;
}


